body{
    background: url("../circuit.jpg") center center;
    background-size: cover;
    color: #f2b632;
}

br {
    display: block;
    margin-top: 10px;
    line-height: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #f2b632;
    color: white;
}

.modal-body {
    padding: 20px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

button, #submit_upload, .button{
    background-color:#b5b5b7;
    border: 1px solid #f2b632;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: #252839;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}


.display_box{
    width: 500px;
    height: 500px;
    margin: 20px;
    background-color: #252839;
    border: 1px solid #f2b632;
    border-radius: 10px;
}

#content{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    background-color: rgba(103,112,116,.8);
}
#grid{
    width: 90%;
    margin-left: 5%;
    overflow:hidden;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.image_display{
    height: 240px;
    width: 320px;
    margin: 20px auto;
    border: 1px solid #f2b632;

}

#student_display{
    width: auto;
}

#result_table{
    margin: 0 auto 20px;

}

#webcam{

}

#upload_div{

}
#result{

}



